
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Edit user</title>
  </head>
  <body>
    <h1>Edit user</h1>
    <form method="POST" action="/admin/edit/<%= user._id %>">
      <label for="username">Name:</label>
      <input type="text" name="username" value="<%= user.username %>" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <br />
      <label for="isAdmin">Admin?:</label>
      <input type="checkbox" name="isAdmin" <%= user.isAdmin ? 'checked' : '' %> />
      <br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
