
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Main Page</title>
  </head>
  <body>
    <h1>Main Page</h1>
    <h1>Your name: <%= user.username %></h1>
    <p>Your ID: <%= user.id %></p>
    <p>Admin?: <%= user.isAdmin %></p>

    <form method="GET" action="/currency">
      <button type="submit">Currencies</button>
    </form>

    <form method="GET" action="/weather">
      <button type="submit">Weather</button>
    </form>

    <form method="GET" action="/mockapi">
      <button type="submit">MockApi</button>
    </form>

    <a href="/register">log out</a>
  </body>
</html>
